{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "semi": [
      1,
      "never"
    ],
    "no-console": 0
  },
  "env": {
    "node": true,
    "es6": true
  }
}
